<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="redirect all requests" stopProcessing="true">
          <match url="^(.*)$/" />       
          <action type="Rewrite" url="index" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>